.cart {
  display: flex;
  flex-direction: row;
  height: 200px;
  overflow: hidden;
}
.warenkorbitems {
  /* flex-grow: 2; */

  flex: 2;
}
.product {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
}
.overview {
  flex-grow: 2;
  width: 50%;
  border: solid 1px black;
}

.cartimg {
  width: 100px;
  border-radius: 5px;
}

.desc {
  flex-grow: 2;
  padding-left: 15px;
}

.delops {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: between;
}

.del {
  justify-self: center;
}
.ops {
  display: flex;
  flex-direction: row;
}
